/* Navigation bar */

nav {
  display: flex;
  background-color: #ff6600;
  align-items: center;
  padding: 3%;
  border-radius: 3px 3px 0 0;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  font-size: 0.85rem;
  margin: 0 3px;
  font-weight: bolder;
}

.nav-right {
  margin-left: auto;
  text-align: right;
  font-weight: normal;
}

.logged-in-nav a::before {
  content: '|';
  margin-right: 10px;
}