/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.submit-form-container {
  padding-left: 20px;
}

.submit-form button {
  width: 4rem;
  margin-left: 80px;
}

.fa-trash-can {
  color: black;
}

.fa-trash-can:hover {
  color: red; 
  cursor: pointer;
}

.story-author, .story-user {
  display: flex;
  flex-direction: column;
  padding-bottom: 2%;
  align-items: right;
  font-size: .95rem;
  font-weight: bolder;
}

.story-link {
  font-weight: 1000000;
}

.story-user {
  margin-top: 0px;
  margin-left: 2.5%;
  color: orange;
  border-bottom: 1px solid #ccc;
}

.story-author {
  padding-bottom: 1%;
  margin-left: 2.5%;
  padding-top: 1%;
  color: red;
}